@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: local("Sen Regular"), url("../fonts/Sen-Regular.woff") format("woff");
}

@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 600;
  src: local("Sen Bold"), url("../fonts/Sen-Bold.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

html {
  overflow-x: hidden;
}
body {
  font-family: "Sen";
  font-family: "Finger Paint", cursive;
  background: #ddf3ff;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1140px !important;
}
.item__content::before {
  content: "";
  height: 30px;
  width: 30px;
  background: #382754;
  position: absolute;
  left: 50%;
  border-radius: 50%;
}

.item__content::after {
  content: "";
  width: 10px;
  height: 100%;
  background: #4f5faa;
  position: absolute;
  left: 51%;
  top: 0;
  z-index: -1;
  border-top-radius: 30px;
}

/* .roadmap__content::before {
  content: "";
  background: #c7ecff;
  width: 2.25rem;
  height: 100%;
  position: absolute;
  border-radius: 3rem;
  z-index: 999;
  left: 50%;
  top: 0;
  transform: translate(-18px, -10px);
  border: 5px solid #fff;
} */

@media screen and (max-width: 768px) {
  .roadmap__content::before {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .item__content::before,
  .item__content::after {
    display: none;
  }
}
